

body{
    width: 50vh;
    height: 10vh;
    margin: auto;
    background-image: url(../image/Digital-Identity-Fraud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form h1{
    color: #ff7200;
}
.form label{
    display: flex;
    color: #ff7200;
    margin: 10px;
}
/* .form{
    background-image: url(../image/Digital-Identity-Fraud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}  */
.form{
    background-image: url(../image/Digital-Identity-Fraud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 400px;
    margin-top: 80px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
}
.form input{
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    color: white;
}
.form input:focus{
    outline: none;
}
.form .sub{
    cursor: pointer;
}
p{
    color: white;
}
a{
    color: #ff7200;
}